<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ContentPack" value="Default"/>
    <add key="Resolution" value="900:600"/>
    <add key="Username" value="Guest"/>
    <add key="Color" value="#FFBB00"/>
    <add key="VSync" value="false"/>
  </appSettings>
</configuration>