<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxPlayers" value="8"/>
    <add key="Port" value="14242"/>
    <add key="MOTD" value="A Bricklayer Server running on the default configuration.\nPlease edit your Message Of The Day in the config file!"/>
  </appSettings>
</configuration>
